@font-face {
  font-family: 'MyFont1';
  src: url('font/Eurostile Bold.woff') format('woff');
}

@font-face {
	font-family: 'MyFont2';
	src: url('font/AvenirNextLTPro-Regular.woff') format('woff');
}

body {
	background-image: url(images/background.png);
}

p, li {
	color: #8F806E;
	font-family: 'MyFont2';
	font-size: 14px;
}

h2 {
	color: #8F806E;
	font-family: 'MyFont1';
	font-size: 16px;
}

.wrapper {
	max-width: 960px;
	width: 100%;
	margin: auto;
}
.grid {
	width: 100%;
}

.col4, .col2 {
	margin: 1%;
	float: left;	
}
.col4 {
	width: 98%;
}
.col2 {
	width: 48%;
}

#margin {
	height: 60px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	background-color: #8F806E;
	color: #D7E8D7;
	font-family: 'MyFont2';
	font-size: 10px;
}

@media (max-width: 460px) {
	.col4, .col2 {
		width: 98%;
	}
}